datacenter = "app"
data_dir = "/opt/consul"

client_addr = "0.0.0.0"
ui_config {
  enabled = true
}

ports {
  grpc = 8502
}

recursors = ["8.8.8.8", "8.8.4.4"]

server = true
bind_addr = "0.0.0.0" # Listen on all IPv4
advertise_addr = "{{ inventory_hostname }}"
bootstrap_expect = {{ consul_server_cluster_length }}
retry_join = [
{% for item in groups['consul-server'] %}
    "{{ hostvars[item]['inventory_hostname'] }}",
{% endfor %}
]

telemetry {
  prometheus_retention_time = "30s"
}

encrypt = "EUE+QhVArrb4JP08KQIO8OFsNvmEiFCJApuXl8c/7ZQ="
encrypt_verify_incoming = true
encrypt_verify_outgoing = true